
homework/answer/Day_001_example_of_metrics_Ans.ipynb
homework/.ipynb_checkpoints/Day_001_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_002_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_003-1_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_003-1_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_003-2_HW-checkpoint.ipynb
homework/answer/.ipynb_checkpoints/Day_001_example_of_metrics_Ans-checkpoint.ipynb
homework/data/application_train.csv
homework/data/HomeCredit_columns_description.csv
homework/example/.ipynb_checkpoints/Day_001_example_of_metrics-checkpoint.ipynb
homework/example/.ipynb_checkpoints/Day_001_HW-checkpoint.ipynb
homework/example/.ipynb_checkpoints/Day_002_first_EDA-checkpoint.ipynb
homework/example/.ipynb_checkpoints/Day_002_HW-checkpoint.ipynb
homework/example/D3/.ipynb_checkpoints/Day_003-1_build_dataframe_from_scratch-checkpoint.ipynb
homework/example/D3/.ipynb_checkpoints/Day_003-2_HW-checkpoint.ipynb
homework/example/D3/D3.7z
homework/example/D3/Day_003-1_build_dataframe_from_scratch.ipynb
homework/example/D3/Day_003-1_HW.ipynb
homework/example/D3/Day_003-2_HW.ipynb
homework/example/D3/Day_003-2_read_and_write_files.ipynb
homework/example/D3/Day_003-3_read_and_write_files.ipynb
homework/example/data/application_train.csv
homework/example/data/HomeCredit_columns_description.csv
homework/example/Day_001_example_of_metrics.ipynb
homework/example/Day_001_HW.ipynb
homework/example/Day_002_first_EDA.ipynb
homework/example/Day_002_HW.ipynb
homework/.ipynb_checkpoints/Day_004_HW-checkpoint.ipynb
homework/example/D4/.ipynb_checkpoints/Day_004_column_data_type-checkpoint.ipynb
homework/example/D4/.ipynb_checkpoints/Day_004_HW-checkpoint.ipynb
homework/example/D4/Day_004_column_data_type.ipynb
homework/example/D4/Day_004_HW.ipynb
homework/.ipynb_checkpoints/Day_005_HW-checkpoint.ipynb
homework/example/Day_005_HW.ipynb
homework/.ipynb_checkpoints/Day_006_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Untitled1-checkpoint.ipynb
homework/example/D6/.ipynb_checkpoints/Day_006_HW-checkpoint.ipynb
homework/example/D6/.ipynb_checkpoints/Day_006_HW_EX-checkpoint.ipynb
homework/example/D6/.ipynb_checkpoints/Day_006_outliers_detection-checkpoint.ipynb
homework/example/D6/Day_006_HW_EX.ipynb
homework/example/D6/Day_006_outliers_detection.ipynb
